<%- partial('_partial/head') %>

<body>
  <header id="header"><%- partial('_partial/header') %></header>
  <div id="content" class="inner">
    <div id="main-col" class="alignleft"><div id="wrapper"><%- body %></div></div>
    <div class="clearfix"></div>
  </div>
  <footer id="footer"><div class="inner"><%- partial('_partial/footer') %></div></footer>
  <%- partial('_partial/after_footer') %>
</body>
</html>
