<%
var title = '';
if (page.category) title = page.category;
if (page.tag) title = page.tag;
if (page.archive) {
  if (page.year) title = page.year + (page.month ? '/' + page.month : '');
  else title = __('archive_a');
}
%>
<h2 class="archive-title<% if (page.tag){ %> tag<% } else if (page.category){ %> category<% } %>"><%= title %></h2>
<% if (pagination == 2){ %>
<% page.posts.each(function(item){ %>
<%- partial('article', {item: item, index: true}) %>
<% }); %>
<%- partial('pagination') %>
<% } else { %>
  <% var this_year; %>
  <article class="archive">
  <% page.posts.each(function(item){ %>
    <% var year = item.date.year(); %>
    <% if (this_year != year || !this_year){ %>
      <% if(this_year){ %>
      </div></ul>
      <% } %>
      <div class="archive-itme"><div id="<%= year %>" class="archive-year"><%= year %></div>
      <ul>
      <% this_year = year; } %>
      <li>
      <time datetime="<%= item.date.toDate().toISOString() %>"><%= item.date.format("MM-DD") %></time>
      <a href="<%- config.root %><%- item.path %>"><%= item.title %></a>
      </li>
  <% }); %>
  </article>
<% } %>



