<article class="<%= item.layout %>">
  <div class="post-content">
    <header>
      <%- partial('post/title') %>
      <% if (item.layout != 'page'){ %>
      <time datetime="<%= item.date.toDate().toISOString() %>"><%= item.date.format(config.date_format) %></time>
      <% } %>
    </header>
    <div class="entry">
      <% if (item.excerpt && index){ %>
        <%- item.excerpt %>
      <% } else { %>
        <%- item.content %>
      <% } %>
    </div>
    <% if (index){ %>
      <% if (item.excerpt){ %>
      <footer>
        <div class="alignleft">
          <a href="<%- config.root %><%- item.path %>#more" class="more-link"><%= theme.excerpt_link %></a>
        </div>
        <div class="clearfix"></div>
      </footer>
      <% } %>
    <% } else { %>
    <footer>
      <div class="alignleft">
      <%- partial('post/category') %>
      <%- partial('post/tag') %>
      </div>
      <div class="clearfix"></div>
    </footer>
    <% } %>
  </div>
</article>

<%- partial('comment') %>
